canvas {
	border: 1px solid black;
}

#modal{
	position:absolute;
	top: 25%;
	left:0%;
	width:500;
	height:auto;
}

#modal img{
	width:150px;
	margin:15px;
	cursor:pointer;
}

.actived{
	display:block;
}

.desactivaded{
	display: none;
}
li{
	text-decoration: none;
}